server {
    listen 443 ssl http2;
    server_name {{ keycloak_hostname }};
    server_tokens off;

    ssl_protocols TLSv1.2;
    ssl_certificate /etc/letsencrypt/live/{{ tls_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ tls_domain }}/privkey.pem;

    location / {
        proxy_pass http://localhost:8080;
        proxy_set_header    Host               $host;
        proxy_set_header    X-Real-IP          $remote_addr;
        proxy_set_header    X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Host   $host;
        proxy_set_header    X-Forwarded-Server $host;
        proxy_set_header    X-Forwarded-Port   $server_port;
        proxy_set_header    X-Forwarded-Proto  $scheme;
    }
}
